<ng-template #clubsIcon>
  <span class="material-symbols-outlined">pool</span>
</ng-template>
<ng-template #clientsIcon>
  <span class="material-symbols-outlined">business_center</span>
</ng-template>
<ng-template #usersIcon>
  <span class="material-symbols-outlined">person</span>
</ng-template>
<ng-template #classesIcon>
  <span class="material-symbols-outlined">groups</span>
</ng-template>
<ng-template #testsIcon>
  <span class="material-symbols-outlined">assignment</span>
</ng-template>
<ng-template #competitionsIcon>
  <span class="material-symbols-outlined">trophy</span>
</ng-template>
<ng-template #logoutIcon>
  <span class="material-symbols-outlined">logout</span>
</ng-template>

<po-menu [p-menus]="menus" />
