:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  min-height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
