* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation: none !important;
}

